<ion-popover-view class="favorite">
        <ion-content>
          <div class="list">
            <div class="item item-text-wrap favorite white">
             <h3 class="white"> Please, pull down &amp; refresh News feed to notice changes. </h4>
            </div>
            <div class="item item-text-wrap favorite white">
            <h3 class="white" style="font-weight: bold;">
              You do <b>NOT</b> need to add multiple cities in the same state.
              Once you add a city, your sources get populated with all news sources in that state. You can toggle off sources not needed.
              </h4>
            </div>
           
          </div>
        </ion-content>
      </ion-popover-view>