<ion-view can-swipe-back="true">
<ion-header-bar class = "bar-balanced">

   <ion-nav-back-button class="button-positive">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
</ion-header-bar>
	<ion-nav-title class = "item-icon-right">
		<span class="white"> Privacy Policy</span>
	 
	</ion-nav-title>


<ion-content class = "splashpage padding">
<div class="white padding">


<h4 class="white"> We strive to keep our privacy policy very  simple &amp; understandable for everyone. This documents highlights how we use any information provided either by you, your device or us.
<br>
This privacy policy applies to all our products
</h4>


<h5 class="white">We may collect the following types of information:
</h5>

<ion-list class = "privacylist">
<li>Information you provide when you sign up on Local News, like your name, email and other personal information. This may be entered directly, or submitted through a third party account you use to login (i.e. your Facebook or Twitter account).
</li>

<li>
Cookies - we use cookies to keep you logged in when you use our web services.
</li>

<li>
Log information - when you access Local News we may automatically log the browser version, browser language, Internet Protocol address, date and time of your request, and what type of device you are using.
</li>
<li>
User communications - when you communicate with us via email, we may keep such email on file, to enable us adequately respond.
</li>

<li>
Location data - Local News does not use geo-Location or track your location. However any location provided by you for News purposes, will be saved on file until it is deleted by you.
</li>

<li>
Unique device identifier - When you use Local News, a random UserID is generated and used for persistent storage and service, however we may also collect UDID of your device to give you persistent settings and service. This number will not be tied to any personal information, as it cannot be used for such purposes.
</li>

<li>
Advertising  - Ads are not currently served on Local News but may be served in the future.
On some mobile platforms, Local News may use  the advertiser identifier instead of the UDID. This is used strictly for usage statistics, analytics and to serve promote stories.
</li>

<li>
  Information Storage - All information provided by either you or Local News are saved on servers located in the United States of America
</li>
</ion-list>


<h4 class="white">Privacy controls</h4>

We give control access to any information provided by you, such as locations provided, and favorites. You can find these controls available in the app settings and other sections of the app.

<h4 class="white"> Feedback </h4>

We are committed to maintaing your privacy and providing our service in a useful, comfortable and secure manner. If you have any questions &amp; concerns about our privacy policy, or any other matter, please email felix@studentpay.co




</div>
</ion-content>

</ion-view>