<ion-view >

    <ion-nav-title>
      <span class="white "> Favorite Stories</span>
        </ion-nav-title>
         
  <ion-header-bar class = "bar-balanced"> 
 
   </ion-header-bar>
     
	<ion-content class= "splashpage padd">
	<ion-list>
    <ion-item ng-repeat ="favs in favorites" class = "white ">
  
    <!-- <a class="item item-avatar" href="#"> -->
    <div class="row favorite" ng-click= "openBrowser(favs)">
    <div class=" col-40">
      <img ng-src="{{favs.image}} " class="newsimage ">
      </div>

      <div class="item-text-wrap col col-60">
       {{ favs.title }} 
      </div> 
        <ion-option-button class="  button-positive" ng-click = "share(favs)">
          <!-- <i class="ion-android-share-alt larger"> -->
           <i class="ion-ios-upload larger"> 
          </i>
        </ion-option-button>
        <ion-option-button class="  button-assertive" ng-click = "favDelete($index, favs)">
          <i class="ion-trash-a larger"> </i>
        </ion-option-button>
    </div>
   
    </ion-item>

</ion-list>

  
	</ion-content>
</ion-view>