<ion-view hide-nav-bar= "true" cache-view = "false">
<ion-content class = "splashpage">

	<div class="splash list">
	<center>
		<img class="logo slideup" ng-src="img/logo3.png">
	
	</center>
	
  <label class="item item-input item-floating-label slideup ">
    <span  class="input-label white"> <i class="ion-location"></i> News around:</span>

     <input class="" type="text" g-places-autocomplete options = "autocompleteOptions" ng-model="place" placeholder="Enter City, e.g Tulsa, OK, USA" style="color: white;" />
   
  </label>

  	<button class="button button-block button-energized slideup" style="margin-top: 30px;" ng-click = "getState(place)">
  		Get News
  	</button>

</div>

 
    </ion-content>
</ion-view>

 
