<ion-view>
      <ion-nav-title>
      <span class="white">Settings</span>
      </ion-nav-title>

       
  <ion-header-bar class = "bar-balanced"> 
 
   </ion-header-bar>

  <ion-content class = "splashpage sliding">
    <ion-list class = "splashpage">
    <div class="list">

        <div class="item item-divider settings white">
         GENERAL
        </div>

              <ion-item class="item item-icon-left favorite" ng-click = "popUp()" >
                <i class="icon ion-ios-clock-outline"></i>
                Version
              </ion-item>

               <a class="item favorite item-icon-left item-icon-right" ng-href="#/tab/account/location">

               <i class="icon ion-location"></i>
                Add Location
                <i class="icon ion-ios-arrow-right"></i> 
               </a> 

    
              <ion-item class="item item-icon-left favorite " ng-click = "showPopup()">
                <i class="icon ion-link"></i>
                Suggest Source
                
              </ion-item>

       <div class="item item-divider settings white">
        HELP
      </div>
            <ion-item ng-click= "report()" class="item item-icon-right favorite">
                Report a bug
                <i class="icon ion-bug"></i>
            </ion-item>

            
            <a class="item item-icon-right favorite" ng-href="#/tab/account/privacypolicy">
                Privacy Policy
                <i class="icon ion-lock-combination"></i> 
               </a> 
        
            <ion-item class="item item-icon-right favorite" ng-click="rateApp()">
                Rate this app
                <i class="icon ion-ios-star"></i>
                </ion-item>

            <ion-item class="item item-icon-right favorite white" ng-click= "shareApp()">
                Share this app
                <i class="icon ion-ios-upload"></i>
            </ion-item>

    </div>
   

    </ion-list>
    <button class="button button-block button-assertive" ng-click = logout() style="margin-top: 20px;">
        	Reset
        </button>
    
  </ion-content>
</ion-view>
