<ion-view>
  <ion-nav-title>
     <span class="white"> Headlines </span> 
  </ion-nav-title>
  
  <ion-header-bar class = "bar-balanced"> 
 
   </ion-header-bar>


  <ion-content overflow-scroll = "true" class = "splashpage">
  
  <ion-refresher pulling-text = 'Pull to refresh...'
  on-refresh = "doRefresh()" 
  spinner = "spiral"
  > </ion-refresher>
    
<ion-list class = "splashpage">

  
  <div class="card newsItem padd" collection-repeat= "news in main" item-height = "120px">
  
  
      <div class=" row item item-text-wrap black " ng-click = "openBrowser(news)">
          <div class="col-40 "> 
              <img class="newsimage img-responsive " ng-src="{{news.image}}"  > 
           </div>

           <div class="col col-60 ">
                {{news.title}}
           </div>
     </div>
   
     
  <div class=" row item item-divider item-dark ">
    
     <p class="col source"> via {{news.source}}</p>
      <div class="col larger">
           <p>  
            <i class="ion-ios-heart dash larger"  ng-click="addFavorites(news) "></i> 
             &nbsp; &nbsp; &nbsp; &nbsp; 

             <i class="ion-ios-upload dash larger" ng-click = "share(news)" > </i>   &nbsp; &nbsp;
              </p>  
      </div> 
  </div>
</div>

</ion-list>

<div class = "moreheadlines" >
<button class="button button-block button-energized" ng-click = "getMore()" > More Headlines</button>
</div>

    
  </ion-content>
</ion-view>