<ion-view>
  <ion-nav-title>
     <span class="white"> Headlines </span> 
  </ion-nav-title>

  <ion-content class = "splashpage">
  
  <ion-refresher pulling-text = 'Pull to refresh...'
  on-refresh = "doRefresh()" > </ion-refresher>
    
<ion-list>

  
  <div class="card newsItem " ng-repeat= "news in main">
  
  
      <div class=" row item item-text-wrap black " ng-click = "openBrowser('{{news.link}}')">
          <div class="col-40 "> 
              <img class="newsimage " ng-src="{{news.image}}"  > 
           </div>

           <div class="col col-60 ">
                {{news.title}}
           </div>
     </div>
   
     
  <div class=" row item item-divider item-dark ">
    
     <p class="col source"> via {{news.source}}</p>
      <div class="col  larger">
           <p>  
            <i class="ion-ios-heart dash larger"  ng-click="addFavorites({{news}}) "></i> 
             &nbsp; &nbsp; &nbsp; &nbsp; 

             <i class="ion-ios-upload dash larger" ng-click = "share({{news}})" > </i>   &nbsp; &nbsp;
              </p>  
      </div> 
  </div>

 
</div>


</ion-list>
<button class="button button-block button-energized" ng-click = "getMore()"> More Headlines</button>
<!-- <button class="button button-block button-royal" ng-click = "openBrowser('http://google.com')"> More</button> -->
    
  </ion-content>
</ion-view>
